<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
</head>
<body>
    <h2>Your contact information</h2>
    <form action="#" th:action="@{/submit}" 
                     th:object="${contact}" 
                     method="post">
    <table>
    <tr>
        <td><label for="name">Name</label></td>
        <td><input type="text" name="name" th:field="*{name}"></td>
    </tr>
    <tr>
        <td><label for="email">Email</label></td>
        <td><input type="text" name="email" th:field="*{email}"></td>
    </tr>
    <tr>
        <td><label for="phoneNumber">Phone</label></td>
        <td><input type="text" name="phoneNumber" th:field="*{phoneNumber}"></td>
        <td><input type="submit" value="Save"></td>
    </tr>
    </table>
    </form>
</body>
</html>