<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>How many numbers do you wish to generate?</h1>
    <form action="#" th:action="@{/result}" th:object="${generate}" method="post">
        <input type="number" min="1" max="31" th:field="*{numberCount}" required>
        <button type="submit">Generate</button>
    </form>
</body>
</html>