<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Information</title>
</head>
<body th:object="${contact}">
    <h2><span th:text="*{name}"/>'s contact information</h2>
    <p>
        <label for="id">ID:</label>
        <span th:text="*{id}"/>
    </p>
    <p>
        <label for="name">Name:</label>
        <span th:text="*{name}"/>
    </p>
    <p>
        <label for="Email">Email:</label>
        <span th:text="*{email}"/>
    </p>
    <p>
        <label for="phone">Phone:</label>
        <span th:text="*{phone}"/>
    </p>
</body>
</html>