<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js" 
        integrity="sha512-EKWWs1ZcA2ZY9lbLISPz8aGR2+L7JVYqBAYTq5AXgBkSjRSuQEGqWx8R1zAX16KdXPaCjOCaKE8MCpU0wcHlHA==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" 
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Currency Converter API</title>
</head>
<body>
    <div class="container">
        <form action="/convert" method="post">
        <table>
            <tr>
                <td>
                    <label for="fromCurrency">From</label>
                </td>
                <td>
                    <select name="fromCurrency">
                    <option data-th-each="i : ${currencies}"
                            data-th-value="${i.getCurrencySymbol}"
                            data-th-text="${i.getCurrencyName}+' '+${i.getCurrencySymbol}">
                    </option>
                </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="toCurrency">To</label>
                </td>
                <td>
                    <select name="toCurrency">
                        <option data-th-each="i : ${currencies}"
                                data-th-value="${i.getCurrencySymbol}"
                                data-th-text="${i.getCurrencyName}+' '+${i.getCurrencySymbol}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="amount">Amount</label>
                </td>
                <td>
                    <input type="text" name="amount" id="amount">
                </td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">Convert</button></td>
            </tr>
        </table>
        </form>
    </div>
</body>
</html>